* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: var(--bg-clr);
}

:root {
  --bg-clr: rgb(209, 209, 207);
  --fc: black;
  --hvr-clr: rgba(15, 15, 15, 0.1);
}

.header {
  grid-area: header;
}

.section-one-image {
  grid-area: one-1;
}

.section-one-text {
  grid-area: one-2;
}

.section-two-image {
  grid-area: two-1;
}

.section-two-text {
  grid-area: two-2;
}

.section-three-image {
  grid-area: three-1;
}

.section-three-text {
  grid-area: three-2;
}

.footer {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header"
    "one-1 one-1 one-2 one-2"
    "two-2 two-2 two-1 two-1"
    "three-1 three-1 three-2 three-2"
    "footer footer footer footer";
  margin: 20px;
  grid-gap: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.grid-container div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.header {
  display: flex;
}

.header .menu a {
  padding: 10px;
  margin-left: 20px;
  color: var(--fc);
  font-size: 18px;
  font-weight: bolder;
  text-decoration: none;
}

.header .menu a:hover {
  background-color: var(--hvr-clr);
  border-radius: 5px;
}

.header .menu .logo {
  border: 2px solid rgb(71, 6, 6);
  border-radius: 5px;
}